extends layout
block content
    h2 PassengerDetail
    h3 #{passenger.name}'s detail page

    if passenger.bookings.length
        ol
            each booking in passenger.bookings
                li #{passenger.name} is going from #{booking.origin} to #{booking.destination}
    else
        no #{passenger.name}'s has bookings yet  
    
              
            
            

            
        
            
                
        